<article class="post">
    <div>
        <a href="/post/{{id}}">{{title}}</a>
        <p>
            {{content}} </br>
            {{created_at}}
        </p>

    </div>
    <div>
        <a href="/post/{{id}}">{{comments.length}} comments</a>
    </div>
</article>