<ol>
    {{#each posts}}
    <li>
        <article>
            <div>
                <h3>{{title}}</h3>
                <p>
                    {{content}} 
                    {{created_at}}
                </p>

            </div>
            <div>
                <a href="/api/posts/{{id}}">{{comments.length}} comments</a>
            </div>
        </article>
    </li>
    {{/each}}
</ol>

{{!-- <ol class="post-list">
  <li>
    <article class="post">
      <div class="title">
        <a href="{{post_url}}" target="_blank">{{title}}</a>
        <span>({{post_url}})</span>
      </div>
      <div class="meta">
        {{vote_count}} point(s) by {{user.username}} on
        {{created_at}}
        |
        <a href="/post/{{id}}">{{comments.length}} comment(s)</a>
      </div>
    </article>
  </li>
</ol> --}}